// IA.scss

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Signika', sans-serif;
}

.container-iaproductos {
  padding: 20px; /* Añade un espaciado interno para el contenido */
  max-width: 1200px; /* Limita el ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  height: 100vh; /* Ajusta la altura para centrar todo el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center;
}

.logo-iaproductos {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.card-container-iaproductos {
  display: grid;
  justify-content: center;
  max-width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Crea columnas responsivas */
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-items: center;
  grid-auto-flow: row; 
}

.card-iaproductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px; /* Espaciado entre las tarjetas */
}

.card-iaproductos img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-iaproductos h2 {
  font-size: 16px;
  text-align: center;
  font-family: 'Signika';
}

.brand-logo-iaproductos {
  width: 150px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto;
  margin-bottom: 10px;

  /* Anular los estilos predeterminados del navegador para la etiqueta img */
  border: none;
  display: block;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {

  .container-iaproductos {
    height: auto; /* Ajusta la altura al contenido en lugar de usar 100vh */
  }

  .card-container-iaproductos {
    grid-template-columns: 1fr;
    justify-items: center;
  }

}
